
#foto1{
	float:right;
	top:60%;
	left:60%;
	
}

#namePage{
	text-align:center;
	padding-top:30px;
	padding-bottom:20px;
    
}
ul{
	list-style-type:none;
}

#mainHeader, #left, #mainText, #right, #bottom {
    position: absolute
}
#mainHeader {
    top: 0;
    width: 100%;
    height: 50px;
	text-align:center;
	background-color:#9dbb61;
	color:black;
	padding-bottom:20px;
	position:fixed;
	
}
#left {
    top: 70px;
    width: 130px;
    bottom: 20px;
    background: #ccffff;
	position:fixed;
	left:0px;
}
#right{
	top: 70px;
    width: 130px;
	right:0px;
    bottom: 20px;
    background: #ccffff;
	position:fixed;
	
}
#mainText{
    top: 50px;
    left: 140px;
    right: 140px;
    bottom: 50px;
    
}
#bottom {
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #9dbb61;
	position:fixed;
	text-align:center;
	
}
a:link{
	color:red;
}
a:visited{
	color:blue;
}
a:hover{
	background-color:orange;
	color:white;
}
